spring:
  datasource:
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PWD:root}
    url: jdbc:mysql:// ${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/fabmedical?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    schema:
      - classpath:session.sql
      - classpath:speaker.sql
    initialization-mode: ALWAYS

mybatis-plus:
  global-config:
    db-config:
      id-type: input
      logic-delete-value: 1
      logic-not-delete-value: 0
  mapper-locations: classpath:/mapper/**/*.xml
server:
  port: 3002
